<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New TO-DO</title>
  </head>
  <body>

    <h1>Ingresa un TO-DO</h1>
    <%= form_with model: @todo, local: true do |f| %>
    <%= f.label :description, "Descripcion del TO-DO" %>
    <%= f.text_field :description %>
    <%= f.label :completed, "Completado?" %>
    <%= f.text_area :completed %>
    <%= f.submit "Enviar" %>
    <% end %>


  </body>
</html>
