<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <% @todos.each do |todo| %>
    <div class="well well-lg">
      <div class="col-md-2">
        <%= check_box_tag 'completed', todo.id, todo.completed,
        data: {
          remote: true,
          url: url_for(action: :completed, id: todo.id),
          method: "POST",
        } %>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-6">
        <%= link_to todo.description, todo %>
      </div>
      <button type="button" name="button" class="btn btn-success">
        <%= link_to "edit", edit_path(todo) %></button>
      <button type="button" name="button" class="btn btn-danger">
        <%= link_to "Delete", todo, method: :delete %>
      </button>
    </div>
    <% end %>
    <button type="button" name="button" class="btn btn-primary">
      <%= link_to'Crear TO-DO', todos_new_path %></button>
    <!-- <%= link_to'Crear TO-DO', todos_new_path %> -->
  </body>
</html>
<h2></h2>
