<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New TO-DO</title>
  </head>
  <body>

    <h1>Ingresa un TO-DO</h1>
<%= form_with model: @todo, url: todos_path, local: true do |f| %>

<%= label_tag "Detalles de la venta" %>
<%= f.text_area :detail %>

<%= f.label :completed, "Completado" %>
<%= f.check_box :completed %>

<%= f.submit "Enviar" %>
<% end %>


  </body>
</html>
